@import "tailwindcss";
@plugin "@tailwindcss/typography";

.prose blockquote {
  font-weight: normal;
}

.prose blockquote p:first-of-type::before {
  content: none;
}

.prose blockquote p:last-of-type::after {
  content: none;
}
